# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
# Passo a passo
# Passo 1: Importar a base de dados
# Passo 2: abrir o navegador
# Passo 3: Para cada produto da base de dados
# Passo 4: Pesquisar o preço do produto
# Passo 5: Atualizar o preço na base de dados
# Passo 6: Decidir quais produtos comprar

In [ ]:
#baixar o chrome driver, verificar compatibilidade da versão
#!pip install selenium

In [2]:
from selenium import webdriver as wd
import pandas as pd

In [3]:
# Importar a base de dados
tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [4]:
# Abrir navegador
navegador = wd.Chrome()

In [9]:
# Passos 3,4,5
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    print(produto)
    produto = produto.replace("ó","o").replace("ã","a").replace("á","a").replace("ç","c").replace("ú","u").replace("é","e")
    

    link = f"https://www.melhorcambio.com/{produto}-hoje"
    #obs: precisa colocar a url inteira (https://www ...)
    print(link)
    navegador.get(link)

    #comandos: 
        # .click -> clicar
        # .send_key("texto") -> escrever
        # .get_attribute() -> pegar um valor

    preco = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value') 
    # obs: colocar aspas simples para não haver conflito
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha,"Preço Atual"] = float(preco)
    #obs: float para garantir que seja transcrito como numero
    
print("Acabou")

Milho
https://www.melhorcambio.com/Milho-hoje
85.24
Soja
https://www.melhorcambio.com/Soja-hoje
160.78
Boi
https://www.melhorcambio.com/Boi-hoje
278.90
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
382.63
Algodão
https://www.melhorcambio.com/Algodao-hoje
480.00
Açúcar
https://www.melhorcambio.com/Acucar-hoje
135.68
Café
https://www.melhorcambio.com/Cafe-hoje
1113.46
Ouro
https://www.melhorcambio.com/Ouro-hoje
338.43
Trigo
https://www.melhorcambio.com/Trigo-hoje
1548.70
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05
Acabou

In [10]:
# Compras quando for igual ou menor ao preço ideial
tabela["Comprar"] = tabela["Preço Atual"] <= tabela["Preço Ideal"]
display(tabela)

# exportar a base para o excel
tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       85.24     True
1      Soja       163.59      160.78     True
2       Boi       282.20       278.9     True
3  Petróleo       424.37      382.63     True
4   Algodão       497.76       480.0     True
5    Açúcar       136.23      135.68     True
6      Café      1092.87     1113.46    False
7      Ouro       321.77      338.43    False
8     Trigo      1549.11      1548.7     True
9   Tilápia         9.05        9.05     True

In [11]:
navegador.quit()